<% layout('/layouts/boilerplate') -%>
<div class="row">
  <div class="col-8 offset-2 mb-5 mt-3">
    <div class="card border-0">
      <div class="col-8 mx-auto">
        <h1 class="mb-4">Listing Details</h1>
        <img
          src="<%=listing.image.url%>"
          alt="Stay Image"
          class="card-img-top rounded-4 mb-3"
          style="height: 30vh; object-fit: cover"
        />

        <h2><%=listing.title%></h2>
        <p class="text-secondary my-3"><%=listing.description%></p>
        <h3 class="mb-3">₹<%=listing.price.toLocaleString("en-IN")%></h3>
        <p class="text-secondary mb-4">
          <%=listing.location%>, <%=listing.country%>
        </p>
        <div class="btns">
          <a href="/listings/<%=listing._id%>/edit" class="btn btn-danger px-4"
            >Edit</a
          >
          <form
            class="d-inline"
            action="/listings/<%=listing._id%>?_method=delete"
            method="post"
          >
            <button class="btn btn-dark px-4">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
